.HomeCard{
    justify-content: center;
    
}

.tittle{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding-bottom: 2px;
    padding-top: 10px;
    
}

.temp{
    background-color: #002D62;
    display: flex;
    padding: 10px;
    margin-inline: 10px;
    padding-left: 100px; 
    border: 2px solid black;  
    border-radius: 5px; 
    justify-content: center;
    color: white;
    -webkit-text-stroke: 1 px;
    }